/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/* Form Styles */
#appointmentForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #appointmentForm {
        margin: 10px;
    }

    input[type="text"],
    input[type="url"],
    input[type="number"],
    select {
        font-size: 14px;
    }
}
